.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  color: black;
  border-radius: 10px;
}

.image {
  height: 80px;
  width: 80px;
}
